src/*.exe
src/christcoin
src/christcoind
src/test_christcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.christcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
christcoin-qt
christcoin-Qt.app
christcoin-Qt.dmg
qt_helper.sh

# Unit-tests
Makefile.test
christcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
!src/leveldb/Makefile
